body
{
background:#ff9800;
font-family:'Roboto',Arial,sans-serif;
font-size:large;
text-align:center;
}
.countBox
{
min-height:20px;
padding:14px 6px;
margin-bottom:20px;
background: #ffcd4c; /* Old browsers */
background: -moz-linear-gradient(left,  #ffcd4c 0%, #fffaec 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffcd4c), color-stop(100%,#fffaec)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #ffcd4c 0%,#fffaec 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #ffcd4c 0%,#fffaec 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #ffcd4c 0%,#fffaec 100%); /* IE10+ */
background: linear-gradient(to right,  #ffcd4c 0%,#fffaec 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcd4c', endColorstr='#fffaec',GradientType=1 ); /* IE6-9 */
border:1px solid #fff;
-webkit-border-radius:10px;
-moz-border-radius:10px;
border-radius:10px;
-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.15);
-moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.15);
box-shadow: 2px 2px 5px rgba(0,0,0,0.15);
width:150px;
margin:0 10px;
display:inline-block;
vertical-align:top;
}
.outerContainer
{
margin:200px auto 0;
}
.titleContainer
{
display:inline-block;
margin-left:20px;
vertical-align:middle;
}
.title
{
padding-top:25px;
font-size:48pt;
}
.subtitle
{
font-size:20pt;
font-weight:bold;
font-style:italic;
line-height:14pt;
text-transform:uppercase;
letter-spacing:4pt;
}
.logo
{
display:inline-block;
margin-left:0%;
vertical-align:middle;
}
.coming_soon
{
margin-top:50px;
font-size:20pt;
line-height:15pt;
}
.google_play
{
margin:0 15px;
display:inline-block;
vertical-align:bottom;
}
.countdown_clear
{
clear:both;
margin-top:50px;
}
span#countNothing
{
display:none;
}
.countBox span
{
font-size:18pt;
font-weight:bold;
}