<h1>Privacy Policy</h1>
<p>Team GymRatTrax built the GymRatTrax app as a free and open source app as a school project and is continued to be
  maintained as a hobby. The app is provided by Team GymRatTrax at no cost and is intended for use as is. It will never
  collect or store any information from the user, it will never display ads for the user, and it will never charge for
  any use of the app. It is maintained as a personal individual project and is not represented by any business
  entity.</p>
<p>Team GymRatTrax does not collect or store any information. While the application does ask for personal information
  such as birth date, this information is stored locally on the device for the purpose of calculations, such as
  estimates for how many calories will be burned by engaging a given activity. No analytics data is recorded or
  retrieved by Team GymRatTrax.</p>
<p>The application does give the user the option of using Google Play Services for the following optional features:</p>
<ul>
  <li>Synchronizing activities completed in the app with one's own Google Fit history</li>
  <li>Adding activities to one's own Google Calendar</li>
  <li>Storing a backup of settings to one's own Google Account</li>
</ul>
<p>The user is always given an option to engage or to not engage in these features. Use of these features is guided by
  the <a href="https://www.google.com/policies/privacy/" target="_blank" rel="noopener noreferrer">Google Play
    Services privacy policy</a>.</p>
<p>For a better experience, while using the app, it may require you to provide certain personally identifiable
  information, including but not limited to birth date. The information requested will be retained on your device and is
  not collected in any way.</p>
<h2>Log Data</h2>
<p>In a case of an error while using the app, some data and information may be sent via Google Play in order to diagnose
  potential issues. This information may include information such as the device Internet Protocol (“IP”) address, device
  name, operating system version, the configuration of the app when utilizing the app, the time and date of your use of
  the app, and other statistics.</p>
<h2>Cookies</h2>
<p>Cookies are files with a small amount of data that are commonly used as anonymous unique identifiers. These are sent
  to your browser from the websites that you visit and are stored on your device's internal memory.</p>
<p>This app does not use these “cookies” explicitly. However, the app may use third-party code and libraries that use
  “cookies” to collect information and improve their services. You have the option to either accept or refuse these
  cookies and know when a cookie is being sent to your device. If you choose to refuse our cookies, you may not be able
  to use some portions of this app.</p>
<h2>Security</h2>
<p>This personal project does not intentionally collect any data from the user and the source code will remain open and
  available. No guarantee is made over the absolute security over how the local device data is stored or whether the use
  of integrations such as Google Play Services is over an up-to-date and safe protocol.</p>
<h2>Links to Other Sites</h2>
<p>This app may contain links to other sites. If you click on a third-party link, you will be directed to that site.
  Note that these external sites are not operated by Team GymRatTrax. Therefore, it is strongly advised that you review
  the Privacy Policy of these websites. Team GymRatTrax have no control over and assume no responsibility for the
  content, privacy policies, or practices of any third-party sites or services.</p>
<h2>Changes to This Privacy Policy</h2>
<p>This Privacy Policy may be updated from time to time. Thus, you are advised to review this page periodically for any
  changes. Changes will be made available through this page.</p>
<p>This policy is effective as of 2023-11-11.</p>
<h2>Contact Us</h2>
<p>If you have any questions or suggestions about this Privacy Policy, do not hesitate to contact Team GymRatTrax at
  support@gymrattrax.com.</p>
