@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Slab');

body {
  background: #ff9800;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: large;
  text-align: center;
}

.outerContainer {
  margin: 200px auto 0;
}

.titleContainer {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
}

.title {
  padding-top: 25px;
  font-size: 48pt;
}

.subtitle {
  font-size: 20pt;
  font-weight: bold;
  font-style: italic;
  line-height: 14pt;
  text-transform: uppercase;
  letter-spacing: 4pt;
}

.logo {
  display: inline-block;
  margin-left: 0;
  vertical-align: middle;
}

.coming_soon {
  margin-top: 50px;
  font-size: 20pt;
  line-height: 15pt;
}

.countdown_clear {
  clear: both;
  margin-top: 50px;
}
